header {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
       }
       
       li {
        float: left;
        display: block;
        color: red;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
       }
       body {
           color: red;
           display: block;
           font-family: Arial, Helvetica, sans-serif;
           margin-bottom: 0px;
           margin-left: 0px;
           margin-right: 0px;
           margin-top: 0px;
       }
}

main {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
       }
       
       li {
        float: left;
        display: block;
        color: red;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
       }    
}   
